In [2]:
import pandas as pd
import os.path

In [3]:
ROOT_DIR = os.path.abspath(os.pardir)
BASE_DIR = os.path.join(ROOT_DIR, 'data')

In [36]:
data = os.path.join(BASE_DIR, 'processed', 'casas.csv')
df = pd.read_csv(data)
df

      tamanho   ano  garagem   preco
0       159.0  2003        2  208500
1       117.0  1976        2  181500
2       166.0  2001        2  223500
3       160.0  1915        3  140000
4       204.0  2000        3  250000
...       ...   ...      ...     ...
1455    153.0  1999        2  175000
1456    193.0  1978        2  210000
1457    217.0  1941        1  266500
1458    100.0  1950        1  142125
1459    117.0  1965        1  147500

[1460 rows x 4 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tamanho  1460 non-null   float64
 1   ano      1460 non-null   int64
 2   garagem  1460 non-null   int64
 3   preco    1460 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 45.8 KB

In [38]:
X = df.drop(labels=['preco'], axis=1)
y = df['preco']

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
modelo = LinearRegression()
modelo.fit(X_train.values, y_train.values)

LinearRegression()

In [43]:
modelo.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [44]:
modelo.intercept_

-1484640.8721676639

In [47]:
modelo.predict([[120, 2001, 3]])

array([217203.74041764])

In [ ]:
{
    "tamanho":120,
    "ano":2001,
    "garagem":2
}